<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.dao.ActivityMapper">
    <resultMap type="com.alex.bean.Activity" id="ActivityResult">
        <id property="id" column="id"/>
        <result property="express" column="express"/>
        <result property="beginDate" column="begin_date"/>
        <result property="endDate" column="end_date"/>
        <result property="activityCode" column="activity_code"/>
    </resultMap>

    <sql id="selectConfigVo">
        select id, express, activity_code,activity_code,begin_date,end_date from t_activity
    </sql>
    <select id="selectActivityByCode" resultMap="ActivityResult">
        <include refid="selectConfigVo"/> where activity_code=#{activityCode}
    </select>

</mapper>