<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.dao.ExpressMapper">
    <resultMap type="com.alex.bean.Express" id="ExpressResult">
        <id property="id" column="id"/>
        <result property="expName" column="exp_name"/>
        <result property="methodName" column="method_name"/>
        <result property="params" column="params"/>
        <result property="activityCode" column="activity_code"/>
    </resultMap>

    <sql id="selectConfigVo">
        select id, exp_name, activity_code,params,method_name from t_express
    </sql>
    <select id="selectExpressList" resultMap="ExpressResult">
        <include refid="selectConfigVo"/>
    </select>

</mapper>