<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.dao.PrizeRecordsMapper">
    <resultMap type="com.alex.bean.PrizeRecords" id="PrizeRecordsResult">
        <id property="id" column="id"/>
        <result property="prizeName" column="prize_name"/>
        <result property="prizeAmount" column="prize_amount"/>
    </resultMap>

    <sql id="selectConfigVo">
        select id, prize_name, prize_amount
        from prize_records
    </sql>

    <update id="updateById">
        update prize_records set prize_name=#{prizeName} where id=#{id}
    </update>


    <select id="selectPrizeList" parameterType="String" resultMap="PrizeRecordsResult">
        <include refid="selectConfigVo"/>
    </select>
</mapper>